.succModal {
  .ant-modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .successIcon {
      margin-top: 40px;
      width: 84px;
      height: 84px;
    }
    .tip {
      margin-top: 16px;
      font-size: 18px;
      font-weight: 500;
      color: #ffffff;
    }
  }
  .ant-drawer-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .successIcon {
      margin-top: 40px;
      width: 84px;
      height: 84px;
    }
    .tip {
      margin-top: 16px;
      font-size: 18px;
      font-weight: 500;
      color: #ffffff;
    }
  }
}
