.mrc20ListWrap {
  box-sizing: border-box;
  max-width: 100vw;
//   padding: 0 200px;
  .ant-table-thead .ant-table-cell{
    border-bottom: 1px solid rgba(255, 255, 255, 0.0) !important;
    border-top: 1px solid rgba(255, 255, 255, 0.0) !important;
  }
}
@media screen and (max-width: 767px) {
  .mrc20ListWrap {
    padding: 0 20px;
  }
}
