.mrc20ListWrap {
  box-sizing: border-box;
  max-width: 100vw;
  //   padding: 0 200px;
  .ant-table-thead .ant-table-cell {
    border-bottom: 1px solid rgba(255, 255, 255, 0) !important;
    border-top: 1px solid rgba(255, 255, 255, 0) !important;
  }
  .mrc20-item {
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 220px;
    .tick {
      display: flex;
      flex-direction: column;
      gap: 4px;
      .tickName {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
      }
      .token {
        font-size: 12px;
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
  .idCoinDeploy {
    display: flex;
    align-items: center;
    gap: 12px;
    min-width: 220px;
    .nameWrap {
      display: flex;
      align-items: center;
    }
    .name {
      max-width: 100px;
      font-size: 14px;
      font-weight: bold;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .metaid {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .progressAndMint {
    display: flex;
    align-items: center;
    gap: 16px;
    .progress {
      display: flex;
      flex-direction: column;
      .ant-progress-line {
        width: 88px !important;
      }
    }
  }
  .premine {
    display: inline-flex;
    flex-wrap: nowrap;
    background: #232719;
    border-radius: 4px;
    color: #d4f66b;
    font-size: 16px;
    text-align: center;
    padding: 4px 8px;
    white-space: nowrap;
  }
  .condition {
    display: flex;
    flex-direction: column;
    gap: 4px;
    .lvlCount {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }
  .progress {
    font-size: 14px;
    .ant-progress-bg {
      height: 4px !important;
    }
  }
  .deployer {
    .deployerInfo {
      display: flex;
      align-items: center;
      gap: 5px;
      .deployerName {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .MetaId {
      margin-top: 8px;
      font-size: 10px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
  .IdCoinCard {
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .topLeft {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        .nameWrap {
          display: flex;
          align-items: center;
          .name {
            font-size: 12px;
            font-weight: bold;
          }
        }
        .metaid {
          margin-top: 3px;
          font-size: 10px;
          font-weight: normal;
          color: rgba(255, 255, 255, 0.5);
        }
        .mrc20-item{
          .tick{
            .tickName{
              font-size: 12px;
            }
            .token{
              font-size: 10px;
            }
          }
        }
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .bottomLeft {
        width: 45%;
      }
      .bottomRight {
        width: 45%;
      }
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &.item {
          margin-top: 16px;
        }
        gap: 4px;
        .label {
          font-size: 12px;
          font-weight: normal;
          color: rgba(255, 255, 255, 0.5);
        }
        .value {
          font-size: 12px;
          color: #ffffff;
          &.tick {
            font-size: 12px;
            font-weight: bold;
            color: #f68819;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .mrc20ListWrap {
    padding: 0 0px;
  }
}
