.mrc20Page{
    .mrc20Info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        .left{
            display: flex;
            align-items: center;
            gap:35px;
            .desc{
                display: flex;
                align-items: center;
                gap:30px;
            }
        }
    }
}